<div data-hook="news">
  <h1>
    <%= t("posts")  %>
  </h1>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <div>
          <h6>
            <%= post.event_date %>
          </h6>
          
          <%= link_to post.title, post %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
